body {
  background-image: url(images/teabg.jpeg);
  background-repeat: no-repeat;
  font-family: 'Arimo', sans-serif;
}

.container {
  margin: 3rem auto;
  background-color: rgba(230,230,250,0.6);
  border-radius: 5px;
  color: navy;
  padding-bottom: 2rem;
}

h1,h2, h3 {
  font-family: 'Amarante', cursive;
}

h3 {
  color: maroon;
}

h1 {
  text-align: center;
  font-size: 80px;
}

form {
  width: 30%;
}

form#addTea {
  margin: 0 auto;
}

a {
  color: darkslateblue;
}

a:visited {
  color: maroon;
}

a:hover{
  color: royalblue;
}
