<h2>$tea.getName()</h2>
<ul>
  <li>Rating: $tea.getRating() stars</li>
  <li>How many times can you steep it: $tea.getSteep()</li>
</ul>

<a href="/types/$type.getId()">Back to $type.getName() teas</a>
<a href="/types">Back to all tea types</a>
