<h1>Add a tea type</h1>

<p>Add a type of tea here:</p>

<form action="/types" method="post">
  <div class="form-group">
    <label for="name">Type of Tea</label>
    <input class = "form-control" id="name" name="name" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Tea Type</button>
</form>
